.color__picker__container {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6), 0 2px 6px 2px rgba(0, 0, 0, 0.302);
  z-index: 4011;
  background-color: #20210c;
  border-radius: 4px;
  padding: 12px 14px;
  transition: opacity 0.218s linear;
  opacity: 1;
  width: 280px;
}

.color__picker {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
}

.color__pick {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #e8eaed;
  cursor: pointer;
}
