.display__notes {
  
  margin: 0 auto;
  transition: all 0.3s;
}

.display__notes__container {
  margin-top: 2em;
}
.display__notes__content {
  border-radius: 8px;
  width: 240px;
  background-color: #202124;
  min-height: 60px;
  padding: 0.8em 1.2em 0 1.2em;
  margin: 10px;
  border: 1px solid #5f6368;
  cursor: pointer;
  color: #e8eaed;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  letter-spacing: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
