.input {
  width: 100%;
  height: 70px;
  color: #333;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  outline: transparent;
  padding: 12px 16px;
  font-size: 1.5em;
}

.input::placeholder {
  color: #333333;
  text-transform: capitalize;
}

label {
  cursor: default;
}

.error__msg {
  color: #cc4539;
  font-size: 0.6em;
}
@media only screen and (max-width: 599px) {
  .input {
    height: 50px;
    font-size: 1em;
    padding: 0 3px 0 10px;
  }
}

/* Styles for tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .input {
    height: 40px;
    font-size: 0.8em;
    padding: 0 3px 0 10px;
  }
}

/* Styles for normal desktop screens */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .input {
    height: 50px;
    font-size: 0.8em;
    padding: 3px 8px;
  }
}

/* Styles for large desktop screens (like Macs) */
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .input {
    height: 50px;
    font-size: 1em;
    padding: 0 3px 0 10px;
  }
}
