
.app__container {
     height: calc(100% - 68px);
     display: grid;
     grid-template-columns: 20% 80%;
}

.ql-container.ql-snow {
     border: 1px solid #ccc;
     max-height: 35vh;
     overflow-x: scroll;
 }

